/*
 *  $Id: sample1.cfg 2728 2015-12-30 01:46:11Z ertl-honda $
 */

INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "hal.h"                                    // Toppers Header
#include "hal_extention.h"							// Toppers HAL_Extention Header

//***** Task Definition ****************************************************************
CRE_TSK( INIT,{ TA_ACT,   0,  init,  MID_PRIORITY,  STACK_SIZE,  NULL });
CRE_TSK( TASK1,{ TA_NULL,   0,  task1,  MID_PRIORITY,  STACK_SIZE,  NULL });
CRE_TSK( TASK2,{ TA_NULL,   0,  task2,  MID_PRIORITY,  STACK_SIZE,  NULL });
CRE_TSK( TASK3,{ TA_NULL,   0,  task3,  MID_PRIORITY,  STACK_SIZE,  NULL });
//**************************************************************************************


CRE_MBX (MBX, { TA_TPRI, 1, NULL });
CRE_MPF (MPF,  { TA_TPRI, 10, sizeof(MBX_PKT), NULL, NULL });
